// NEEDS FIXES / OPTIMIZATION

// scss/main.scss
@import "../../node_modules/rfs/scss.scss";

// Variables
$teal: hsl(182, 96%, 40%);
$green: hsl(100, 96%, 40%);

.teal {
  background-color: $teal;
}

.bg-gray {
  background-color: hsl(0,0,80)
}

html, body {
    margin: 0;
    min-height: 100vh;
    -webkit-font-feature-settings: "lnum"; 
    -moz-font-feature-settings: "lnum"; 
    font-feature-settings: "lnum";
}

body {
  position: relative;
}

img {
  background-attachment: fixed;
}

.sticky-top {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 300;
}

ul {
  list-style: none
}

.pb-50 {
  padding-bottom: 50vh;
}

a:hover {
  text-decoration: none;
}

#nav {
  z-index: 1000;
}



// HEXAGONS
.hexagon-green {
  margin: 30px 0 15px 0;
  width: 75px;
  height: 41.25px;
  background: $green;
  position: relative;

  &:before {
  content: "";
  position: absolute;
  top: -18.75px;
  left: 0;
  width: 0;
  height: 0;
  border: {
    left: 37.5px solid transparent;
    right: 37.5px solid transparent;
    bottom: 18.75px solid $green;
  }
  }

  &:after {
  content: "";
  position: absolute;
  bottom: -18.75px;
  left: 0;
  width: 0;
  height: 0;
  border: {
    left: 37.5px solid transparent;
    right: 37.5px solid transparent;
    top: 18.77px solid $green;
  }
}
}

.hexagon-teal {
  margin: 30px 0 15px 0;
  width: 75px;
  height: 41.25px;
  background: $teal;
  position: relative;

  &:before {
  content: "";
  position: absolute;
  top: -18.75px;
  left: 0;
  width: 0;
  height: 0;
  border: {
    left: 37.5px solid transparent;
    right: 37.5px solid transparent;
    bottom: 18.75px solid $teal;
  }
  }

  &:after {
  content: "";
  position: absolute;
  bottom: -18.75px;
  left: 0;
  width: 0;
  height: 0;
  border: {
    left: 37.5px solid transparent;
    right: 37.5px solid transparent;
    top: 18.77px solid $teal;
  }
}
}


html.sr .load-hidden {
    visibility: hidden;
}

.header-bar {
    width: 70px;
    height: 4px;
    margin: 25px 0 40px 0;
    // background-color: $primary;
}

.half-page {
  height: 50vh;
}

.min-half-page {
  min-height: 50vh;
}

.full-page {
  height: 100vh;
}

.full-page-3 {
  height: 300vh;
}

canvas {
    opacity: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    animation: canvas 2s linear 7s 1;
    animation-fill-mode:forwards;
}

.active {
  color: #17a2b8 !important;
}

.a-pad {
     padding-top: 56px;
}
// PARALLAX
.parallax {
  min-height: 100%;
  background-attachment: fixed;
  background-size: 102%;
  background-position: center center;
  background-repeat: no-repeat;
}

.parallax-section-1 {
  background-image: url("../media/swq_tommi_tenho_3.jpg");
}
.parallax-section-2 {
  background-image: url("../media/SWQ_v2-min.jpg");
}
.parallax-section-3 {
  background-image: url("../media/web_developing.jpg");
}

.shadowy {
  -webkit-box-shadow: inset 1px -1px 46px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 1px -1px 46px 0px rgba(0,0,0,0.75);
  box-shadow: inset 1px -1px 46px 0px rgba(0,0,0,0.75);
}

#home-info {
    width: 100%;
    height: 100%
}

#home-button {
    border: 1px solid transparent;
}

.home-arrow-right {
    transform: rotate(0deg);
    transition: transform 0.2s linear;
  }
  
.home-arrow-down {
    transform: rotate(90deg);
    transition: transform 0.2s linear;
}

#code-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 0;
}

.chart-number {
  position: absolute;
  right: 5px;
  z-index: 11;
}

.chart-bar {
  z-index: 10;
}

.chart-tag {
  z-index: 11;
}

 #cursor {  
    color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
   }

   #play-button {
    position: absolute;
    top: 10px;
    left: 10px;
   }

   .playbutton {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
    z-index: 200;
  
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;
  
    // play state
    border-style: solid;
    border-width: 37px 0 37px 60px;
  
    &.paused {
      border-style: double;
      border-width: 0px 0 0px 60px;
    }
  
    &:hover {
      border-color: transparent transparent transparent #404040;
    }
  }


  @keyframes canvas {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }

   @media (max-width: 991.98px) { 
    .playbutton {
      border: 0;
      background: transparent;
      box-sizing: border-box;
      width: 0;
      height: 37px;
      z-index: 200;

      border-color: transparent transparent transparent #202020;
      transition: 100ms all ease;
      cursor: pointer;
    
  
          // play state
          border-style: solid;
          border-width: 18.5px 0 18.5px 30px;
        
          &.paused {
            border-style: double;
            border-width: 0px 0 0px 30px;
          }

          &:hover {
            border-color: transparent transparent transparent #404040;
          }
        }

        .parallax {
          background-attachment: scroll;
        }
        .parallax-section-1,.parallax-section-2, .parallax-section-3 {
          background-size: 150%;
        }


        img {
          background-attachment: scroll;
        }
    }

    /* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .div-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
  }
 }
