// NEEDS FIXES / OPTIMIZATION

// Variables
$teal: hsl(182, 96%, 40%);
$green: hsl(100, 96%, 40%);

.bg-teal {
  background-color: $teal;
}

.bg-green {
  background-color: $green;
}
.bg-gray {
  background-color: hsl(0,0,80)
}

.bg-header-music {
  background-color: hsla(1, 0, 0, 0.2)
}

.bg-header-web {
  background-color: hsla(1, 0, 5, 0.7)
}

.bg-transparent-teal {
  background-color: hsla(182, 96%, 60%, 0.2);
}

html, body {
    margin: 0;
    min-height: 100vh;
    -webkit-font-feature-settings: "lnum"; 
    -moz-font-feature-settings: "lnum"; 
    font-feature-settings: "lnum";
}

body {
  position: relative;
}

.card-bg {
  background-color: $teal;
}

img {
  background-attachment: fixed;
}

.w-10 {
  width: 10%
}
.w-20 {
  width: 20%
}
.w-30 {
  width: 30%
}
.w-40 {
  width: 40%
}
.w-45 {
  width: 45%
}
.w-55 {
  width: 55%
}
.w-65 {
  width: 65%
}
.w-70 {
  width: 70%
}
.w-80 {
  width: 80%
}
.w-90 {
  width: 90%
}

.sticky-top {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 300;
}

ul {
  list-style: none
}

.pb-50 {
  padding-bottom: 50vh;
}

a:hover {
  text-decoration: none;
}

#nav {
  z-index: 1000;
}

// HEXAGONS
.hexagon-green {
  margin: 30px 0 15px 0;
  width: 75px;
  height: 41.25px;
  background: $green;
  position: relative;

  &:before {
  content: "";
  position: absolute;
  top: -18.75px;
  left: 0;
  width: 0;
  height: 0;
  border: {
    left: 37.5px solid transparent;
    right: 37.5px solid transparent;
    bottom: 18.75px solid $green;
  }
  }

  &:after {
  content: "";
  position: absolute;
  bottom: -18.75px;
  left: 0;
  width: 0;
  height: 0;
  border: {
    left: 37.5px solid transparent;
    right: 37.5px solid transparent;
    top: 18.75px solid $green;
  }
}
}

.hexagon-teal {
  margin: 30px 0 15px 0;
  width: 75px;
  height: 41.25px;
  background: $teal;
  position: relative;

  &:before {
  content: "";
  position: absolute;
  top: -18.75px;
  left: 0;
  width: 0;
  height: 0;
  border: {
    left: 37.5px solid transparent;
    right: 37.5px solid transparent;
    bottom: 18.75px solid $teal;
  }
  }

  &:after {
  content: "";
  position: absolute;
  bottom: -18.75px;
  left: 0;
  width: 0;
  height: 0;
  border: {
    left: 37.5px solid transparent;
    right: 37.5px solid transparent;
    top: 18.75px solid $teal;
  }
}
}


html.sr .load-hidden {
    visibility: hidden;
}

.header-bar {
    width: 70px;
    height: 4px;
    margin-top: 25px;
}

.sub-header {
  margin-bottom: 50px;
}

.half-page {
  height: 50vh;
}

.min-half-page {
  min-height: 50vh;
}

.full-page {
  height: 100vh;
}

.min-full-page {
  min-height: 100vh;
}

.hidden {
  visibility: hidden;
}

.full-page-3 {
  height: 300vh;
}


canvas {
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  position: absolute;
}

.section-projects {
  overflow-x: hidden
}

.active {
  color: #17a2b8 !important;
}

.a-pad {
     padding-top: 56px;
}
// PARALLAX
.parallax {
  min-height: 100%;
  background-attachment: scroll;
  background-size: 102%;
  background-position: center center;
  background-repeat: no-repeat;
}

.parallax-section-1 {
  background-image: url("../media/swq_tommi_tenho_3.jpg");
}
.parallax-section-2 {
  background-image: url("../media/SWQ_v2-min.jpg");
}
.parallax-section-3 {
  background-image: url("../media/web_developing.jpg");
}

.img-tommi {
  background-image: url("../media/Tommi.jpg");
  min-height: 100%;
  background-size: cover;
  background-position: 50% 15%;
  background-repeat: no-repeat;
}

.img-kaste {
  background-image: url("../media/kaste.png");
  min-height: 100%;
  background-size: 102%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.hidden {
  visibility: hidden;
}

#home-info {
    width: 100%;
    height: 100%
}

#home-button {
    border: 1px solid transparent;
}

#home-button:hover > #home-arrow {
  transform: rotate(90deg);
  transition: transform 0.2s linear;
}

#home-arrow {
    transform: rotate(0deg);
    transition: transform 0.2s linear;
  }
  
.home-arrow-right:hover {
    transform: rotate(90deg);
    transition: transform 0.2s linear;
}

#code-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 0;
}

.chart-number {
  position: absolute;
  right: 12px;
  z-index: 11;
}

.chart-bar {
  z-index: 10;
}

.chart-tag {
  z-index: 11;
}

 #cursor {  
    color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
   }

   #play-button {
    position: absolute;
    top: 10px;
    left: 10px;
   }

   .playbutton {
    border: 5px;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
    z-index: 200;
  
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;
  
    // play state
    border-style: solid;
    border-width: 37px 0 37px 60px;
  
    &.paused {
      border-style: double;
      border-width: 0px 0 0px 60px;
    }
  
    &:hover {
      border-color: transparent transparent transparent #404040;
    }
  }


  @keyframes canvas {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }

   @media (max-width: 991.98px) { 
    .playbutton {
      border: 0;
      background: transparent;
      box-sizing: border-box;
      width: 0;
      height: 37px;
      z-index: 200;

      border-color: transparent transparent transparent #202020;
      transition: 100ms all ease;
      cursor: pointer;
    
  
          // play state
          border-style: solid;
          border-width: 18.5px 0 18.5px 30px;
        
          &.paused {
            border-style: double;
            border-width: 0px 0 0px 30px;
          }

          &:hover {
            border-color: transparent transparent transparent #404040;
          }
        }

        .parallax {
          background-attachment: scroll;
        }
        
        .parallax-section-2, .parallax-section-3 {
          background-size: 160%;
        }

        .parallax-section-1 {
          background-size: 170%;
        }

        img {
          background-attachment: scroll;
        }
    }

    /* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .div-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
  }
 }
